@import '../../assets/styles/colors.scss';

.counter-element {
    box-sizing: border-box;
    height: 67px;
    padding: 22px 24px;

    div:first-child {
        margin-top: 2px;
        font-size: 17px;
        color: #212121;
    }
}

.counter-element--selected {
    @extend .counter-element;

    background-color: rgba($color: $orange, $alpha: 0.2);
    height: 53px;
    margin: 7px 10px;
    padding: 16px 14px 14px 14px;

    border-radius: 6px;
}