@import '../../assets/styles/colors.scss';


.modal-background {
    z-index: 1;
    display: none;
}

.modal-background--show {
    @extend .modal-background;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    width: 100%;
    display: block;
    background-color: rgba($black, 0.5);
}