.creation-modal {

    p:first-child {
        margin-top: 0;
        margin-bottom: 10px;
    }

    p:last-child {
        margin-top: 10px;
    }
}

.creation-modal-sugestions {

    p:first-child {
        margin-top: 0;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 10px;
    }

}