.flex {
    display: flex;
}

.flex-space-between {
    @extend .flex;
    justify-content: space-between;
}

.flex-justify-center {
    @extend .flex;
    justify-content: center;
}

.flex-align-center {
    @extend .flex;
    align-items: center;
}

.flex-direction-row-reverse {
    @extend .flex;
    flex-direction: row-reverse;
}

.flex-align-items-baseline {
    @extend .flex;
    align-items: baseline;
}