.flex {
    display: flex;;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-direction-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}